Test_files/bibExport.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name=" bibliography" type="bibliographyType"/>
<xs:complexType name = "journalType">
	<xs:sequence>
		<xs:element type = "xs:string" name = "title"/>
		<xs:element type = "xs:string" name = "authors"/>
		<xs:element type = "xs:string" name = "doi"/>
		<xs:element type = "xs:string" name = "publisher"/>
		<xs:element type = "xs:integer" name = "pubYear"/>
		<xs:element type = "xs:date" name = "dateAdded"/>
		<xs:element type = "xs:string" name = "journalTitle"/>
		<xs:element type = "xs:integer" name = "volume"/>
		<xs:element type = "xs:integer" name = "issue"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name = "conferenceType">
	<xs:sequence>
		<xs:element type = "xs:string" name = "title"/>
		<xs:element type = "xs:string" name = "authors"/>
		<xs:element type = "xs:string" name = "doi"/>
		<xs:element type = "xs:string" name = "publisher"/>
		<xs:element type = "xs:integer" name = "pubYear"/>
		<xs:element type = "xs:date" name = "dateAdded"/>
		<xs:element type = "xs:string" name = "venue"/>
		<xs:element type = "xs:string" name = "location"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name = "bookChapType">
	<xs:sequence>
		<xs:element type = "xs:string" name = "title"/>
		<xs:element type = "xs:string" name = "authors"/>
		<xs:element type = "xs:string" name = "doi"/>
		<xs:element type = "xs:string" name = "publisher"/>
		<xs:element type = "xs:integer" name = "pubYear"/>
		<xs:element type = "xs:date" name = "dateAdded"/>
		<xs:element type = "xs:string" name = "bookTitle"/>
		<xs:element type = "xs:string" name = "editor"/>
	</xs:sequence>
</xs:complexType>
<xs:complexType name = "bibliographyType" >
	<xs:sequence>
		<xs:element type = "journalType" name = "journal"/>
		<xs:element type = "conferenceType" name = "conference"/>
		<xs:element type = "bookChapType" name = "bookChap"/>
	</xs:sequence>
</xs:complexType>
</xs:schema>